[mysqld]
# 开启慢查询日志记录
# slow_query_log = 1
# 记录阈值，单位s
# long_query_time = 0.3
# 设置查询存储方式
# log_output = table
# binlog 存放7天
binlog_expire_logs_seconds=604800

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
